html,
body {
  margin: 0px 0px;
  padding: 0px 0px;
}

main {
  background-image: linear-gradient(
    to bottom,
    rgb(29, 31, 30),
    rgb(18, 98, 100)
  );
  width: 100%;
  height: 100vh;
}

#expansiondiv__container {
  display: flex;
  background-color: rgb(38, 43, 41);
  font-size: 30px;
  color: white;
}
