#span__toggle{
    margin: 50px 50px 0px 30px;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}

.div__line{
    background-color: rgb(255, 255, 255);
    height: 5px;
    width: 45px;
    margin: 0px 0px 5px 0px;
}